/* ID's */
#content { filter: alpha(opacity=90);}
#header {
    background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/aviation/images/header.jpg) no-repeat;
    width: 792px;
}
#shadowMain { background: none;}
#shadowBottom { background: none;}
#star { background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/aviation/images/star.gif) no-repeat;
}
#starLogo { background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/aviation/images/army_star_logo.gif) no-repeat;}
#symbols li { display: inline;}
.box2 { overflow: hidden;}
.leftColText h1 { background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/aviation/images/years_text.gif) no-repeat;}

/* Classes */
.span-12 { width: 460px;}
#index .span-12 { width: 470px;}
.box #slideshows li { height: 9em;}

/* Timeline Page */
#timelineWrapper { background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/aviation/timeline/timeline_wrapper.jpg) no-repeat;}
