/*  Last Modified 2014-08-29 0807 JH */
/* Reset -------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
}
:focus { outline: 0;}
body { 
	background: #fff;
	color: #000;
	line-height: 1;
}
ol, ul { list-style: none;}

/* Typography --------------------------------------------------- */
body { 
  font-size: 75%;
  color: #0f0f0f; /*	303227	*/
  background: #fff;
  font-family: Helvetica, Arial, sans-serif;
}
h1,h2,h3,h4,h5,h6 { font-weight: bold; color: #06164f; }
h2 { font-size: 1.75em; line-height: 1; margin-bottom: 0.2em; }
h3 { font-size: 1.2em; line-height: 1; margin-bottom: 0.2em; }
h4 { font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em; height: 1.25em; }
h5 { font-size: 1.1em; font-weight: bold; margin-bottom: 1.5em; }
h6 { font-size: 1em; font-weight: bold; }
.underlined {
    border-bottom: 1px solid #8e8f74;
    padding-bottom: 0.2em;
    margin-bottom: 0.8em;
    width: 445px;
}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img { margin: 0; }
p  { margin: 0 0 1.5em; }
p img { float: left; margin: 1.5em 1.5em 1.5em 0; padding: 0; }
p img.right { float: right; margin: 1.5em 0 1.5em 1.5em; }
a { color: #0f0f0f; text-decoration: none; }
a:hover, a:focus, a:active { color: #06164f; }
blockquote { margin: 1.5em; color: #666; font-style: italic; }
strong { font-weight: bold; }
em,dfn { font-style: italic; }
dfn  { font-weight: bold; }
sup, sub { line-height: 0; }
li ul, li ol { margin: 0; }
ul, ol { margin: 0 0 1.5em 0; }
ul { list-style-type: none; }
ol { list-style-type: decimal; }
dl { margin: 0 0 1.5em 0; }
dl dt { font-weight: bold; }
dd { margin-left: 1.5em;}
hr {background:#676b5a;color:#676b5a;clear:both;float:none;width:100%;height:.1em;margin:0 0 1.45em;border:none;}

/* Layout ------------------------------------------------------- */

/* Grid floating and margin. */
div.span-1, div.span-2, div.span-3, div.span-4, div.span-5, 
div.span-6, div.span-7, div.span-8, div.span-9, div.span-10, 
div.span-11, div.span-12, div.span-13, div.span-14, div.span-15, 
div.span-16, div.span-17, div.span-18, div.span-19, div.span-20, 
div.span-21, div.span-22, div.span-23, div.span-24 {
  float: left;
  margin-right: 10px; 
}

/* The last column in a row needs this class. */
div.last { margin-right: 0; }

/* Width of a column. */
.span-1  { width: 30px; }
.span-2  { width: 70px; }
.span-3  { width: 110px; }
.span-4  { width: 150px; }
.span-5  { width: 190px; }
.span-6  { width: 230px; }
.span-7  { width: 270px; }
.span-8  { width: 295px; }
.span-9  { width: 350px; }
.span-10 { width: 390px; }
.span-11 { width: 430px; }
.span-12 { width: 470px; }
.span-13 { width: 510px; }
.span-14 { width: 550px; }
.span-15 { width: 590px; }
.span-16 { width: 630px; }
.span-17 { width: 670px; }
.span-18 { width: 710px; }
.span-19 { width: 750px; }
.span-20 { width: 790px; }

/* Border on right hand side of a column. */
div.border {
  padding-right: 4px;
  margin-right: 5px;
  border-right: 1px solid #eee;
}

/* Border with more whitespace, spans one column. */
div.colborder {
  padding-right: 8px;
  margin-right: 9px;
  /*border-right: 1px solid #eee;*/
}

/* Create a padded box inside a column.  */ 
.box { 
  padding: 0.7em;
  margin: 1em 0 1em 1em;
  opacity: 0.96;
  background: #B7B8A7;
}
.box2 {
    height: 2.2em;
    width: 460px;
    margin: 1em 0;
    opacity: 0.9;
    background: #40443B;
    border: 1px solid #767964;
}
.box3 {
    padding: 0.7em 0.7em 0 0.7em;
    margin: 1.4em 0 1em 0;
    opacity: 0.96;
    background: #B7B8A7;
    width: 444px;
    border: 1px solid #696d5c;
}
.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}
.clear { clear:both; }

/* Added Styles (Most specific) --------------------------------------- */

body {
    background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/aviation/images/bg.jpg) repeat-x;
    background-color: #000418;
}
body#index #nav-index, body#photos #nav-photos, body#video #nav-videos, body#profiles #nav-profiles, body#timeline #nav-timeline { color: #d0d0d0;}

/* ID's */
#container, #shadowMain, #shadowBottom {
    margin: 0 auto;
    width: 819px;
}
#content {
    background-color: #4c4f42;
    margin: 0 auto;
    opacity: 0.9;
    width: 792px;
}
#footer {
    width: 792px;
    margin: 0 auto 1em auto;
    text-align: center;
	background:#B7B8A7;
	padding: 1.5em 0 .5em 0;
}
#footer a {
    color: #0f0f0f; /*	8e8f74	*/
    font-size: 1em;
}
#footer a:hover, #footer a:focus, #footer a:active { text-decoration: underline;}
#footer li {
    display: inline;
    margin: 0 1.3em;
}
#footer p {
    color: #0f0f0f; /*	8e8f74	*/
    font-size: 1em;
    font-weight: bold;
}
#header {
    background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/aviation/images/header_shadow.jpg) no-repeat;
    height: 198px;
    margin: 0 auto;
    /*width: 792px;*/
    width: 818px;
}
#header a {
    display: block;
    height: 198px;
    width: 800px;
    margin: 0 auto;
}
#resources { margin-bottom: 4em; /* spacing for box */}
#resources li a {
    color: #303227;
    font-weight: bold;
    line-height: 1.5em;
}
#resources li a:hover, #resources li a:focus, #resources li a:active { text-decoration: underline; color: #303227;}
#shadowMain { background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/aviation/images/shadow_main.png) repeat-y;}
#shadowBottom {
    background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/aviation/images/shadow_bottom.png) no-repeat;
    height: 15px;
}
#slideshows li {
    color: #eee;
    float: left;
    margin: 0 2px;
    height: 11em;
    width: 112px;
}
#slideshows li a { color: #ddd; /*	8e8f74 */}
#slideshows li a:hover, #slideshows li a:focus, #slideshows li a:active { color: #D0D2B7;}
#slideshows img, #symbols img { margin-bottom: .5em;}
#star {
    background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/aviation/images/star.png) no-repeat;
    position: relative;
    top: -57px;
    left: 415px;
    height: 54px;
    width: 54px;
}
#starLogo {
    height: 60px;
    width: 50px;
    float: right;
    background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/aviation/images/army_star_logo.png) no-repeat;
    margin: .5em .2em 1.5em 0;
}
#starLogo a {
    display: block;
    height: 60px;
    width: 50px;
}
#symbols li {
    color: #eee; 	/*	8e8f74	*/
    float: left;
    height: 11em;
    width: 125px;
    margin: 0 0.9em 2em;
    border-right: 1px dotted #797b5e;
}
#symbols li a {
    color: #fff; 	/*	8e8f74	*/
    display: block
}
#symbols li a:hover, #symbols li a:focus, #symbols li a:active { color: #D0D2B7;}
#symbols .last { border-right: none;}
#symbols .date {
    display: block;
    font-size: 0.9em;
    font-weight: bold;
    margin: 0.2em 0 0 0;
}
#symbolsLink {
    color: #fff;	/*	8e8f74	*/
    font-weight: bold;
}
#symbolsLink:hover, #symbolsLink:focus, #symbolsLink:active { color: #D0D2B7;}
#topNav li {
    display: inline;
    line-height: 26px;
    margin: 0 2.2em;
}
#topNav li a {
    color: #fff;
    font-size: 1em;
}
#topNav li a:hover, #topNav li a:focus, #topNav li a:active { color: #d0d2b7;	/*	767964	*/}

/* Classes */
a.text { display: block}
img.large { margin-bottom: 0.8em;}
.box3 a {
    color: #0f0f0f;
    font-size: 1em;
	font-weight:bold;
}
.box3 a:hover, .box3 a:focus, .box3 a:active, .box3 h3 a:hover, .box3 h3 a:focus, .box3 h5 a:active ,.box3 h5 a:hover, .box3 h5 a:focus, .box3 h5 a:active { color: #303227;}
.box3 h3 a,.box3 h5 a {
    color: #06164f;
    font-size: 100%;
}
.box3 p, .leftColText p { line-height: 1.6em;}
.leftColText { padding: 0 0.8em 0 0.8em;}
.leftColText h2 {
	font-size: 3em;
    background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/aviation/images/years_text.png) no-repeat;
    height: 1.3em;
    margin-bottom: 0.2em;
    margin-top: 0;
}
.leftColText h2 span { margin-left: -9000px;}

/*	skip navigation and other display content off screen items	*/
.skip2 a { display: block; position: absolute; left: -10000px; top: auto; width: 100%; height: 3em; font-weight: bold; text-align: center; font-size:1.5em; color: #fff;} 
.skip2 a:active, .skip2 a:focus { background: #010938 ; position: static; width: auto; height: auto; padding: 1em; margin: auto;}
	
.head, .star_logo, h1 { 
position: absolute; 
left: -10000px;
top: auto; 
width: 1px; 
height: 1px; 
overflow: hidden;
}

#container { position:relative;}
#socialButtons { position:relative; right:0px; top: 115px;}
#socialButtons #plusContain, #socialButtons #likeContain { float:right; clear:none; margin-right: 5px;}

/*-------------- Social Widget CSS --------------*/
#addThis h2,#shareClose { display:none; }
#addThis { font-family:Arial, Helvetica, sans-serif; font-size:1em; letter-spacing:0; font-weight:bold; float:left; width:750px; margin:1em 25px 1.25em 40px; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px; }
#addThis ul { display:block; float:left; list-style:none outside none; width:100%; margin:0; }
#addThis ul#tops li { width:15.9%; margin-left:4px; }
#addThis li { float:left; width:19.5%; margin:2px 0; padding:0; }
.share_sprite .textLink { float:left; margin-left:21px; width:60px; display:block; }
.share_sprite { display:inline; float:left; height:16px; width:16px; margin:4px; }
#tops .share_sprite .textLink { width:60px; }
.facebook { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 0 no-repeat; }
.twitter { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 -16px no-repeat; }
.googleplus { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 -32px no-repeat; }
.pinterest { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 -48px no-repeat; }
.stumbleupon { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 -64px no-repeat; }
.reddit { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 -80px no-repeat; }
.linkedin { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 -96px no-repeat; }
.all { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 -112px no-repeat; }
.share_sprite .textLink:hover,.share_sprite .textLink:focus,.share_sprite .textLink:active { color:#fff; cursor:pointer; text-decoration: underline; }

/*-------------- /Social Widget CSS --------------*/


/*-------------- Articles CSS --------------*/
.article {border-bottom: 1px solid #4c4f42;padding-top: 5px;padding-bottom: 5px;}
.article_last {padding-top: 20px;padding-bottom: 20px;}
.article_image {float: left;margin-right: 10px;}
.article_title {height: 100px;}
.more_stories {margin-top: 20px;}
.more_stories_list li{margin-bottom: 10px;padding-left: 10px;}
.more_stories_list li a{margin-right: 10px;color: #06164f;}
#news_arcchive_button:hover, #news_arcchive_button:focus, #news_arcchive_button:active { color: #d0d2b7;	/*	767964	*/}
#news_arcchive_button{ margin-top: 10px;margin-bottom: 10px; background-color: #4c4f42; color: #fff;
    font-size: 1em;width: 100px; text-align: center;padding:10px; display: block;}
.more{display:inline; padding-left: 5px;}

/*-------------- Articles CSS --------------*/