/* Secondary Page Styles */

/* ------- Aircorps, Air Forces, and Modern Pages ------- */
h4, h5 {
    color: #303227;
    font-size: 1em;
}
h4 {
    font-weight: bold;
    line-height: 1em;
    margin-bottom: 0.5em;
    height: 2em;
}
h5 {
    font-weight: normal;
    margin-bottom: 0;
}

#gallery li {
    float: left;
    width: 96px;
    margin: 0.5em;
}
#profileFeature a {
    color: #303227;
    font-size: 0.9em;
    font-weight: bold;
}
#profileFeature a:hover, #profileFeature a:focus, #profileFeature a:active {
    color: #D0D2B7;
}
#profileFeature p {
    font-size: 0.9em;
    margin-top: 0.5em;
}
#profileFeature .left {
    float: left;
    width: 105px;
}
#profileFeature .right {
    float: left;
    margin: 0 0.1em 0 0;
    width: 150px;
}
#slideshows li {
    height: 10em;
    margin: 0 1.5em 0 0;
}
#slideshows li a { color: #303227;}
#starLogo { margin: -70px 2px 0 0;}
.span-12 p {
    color: #8e8f74;
    line-height: 1.5em;
    margin-right: 0.5em;
}

/* ---------- Profiles Page ----------*/
#profiles a { color: #8e8f74;}
#profiles a:hover, #profiles a:focus, #profiles a:active { color: #D0D2B7;}
#profiles .box3 img { border: 1px solid #303227;}
#profiles #starLogo { margin: -30px 2px 20px 0;}

.box h3 { margin-bottom: 0.5em;}
.profileBox { clear: both;}
.profileBox p {
    color: #303227;
    line-height: 1.2em;
    margin-bottom: 0;
}
.profileBox .image {
    float: left;
    width: 105px;
    margin-bottom: 1.8em;
}
.profileBox .text {
    float: left;
    width: 330px;
    margin-bottom: 1.8em;
}

/* --------- Slideshows Pages --------- */
#content .span-18 {
    float: none;
    margin: 0 auto;
}

.span-18 h3 {
    float: left;
    padding: 1.5em 0 0;
}
.span-18 h3.underlined { margin-bottom: 0;}
.span-18 #return {
    color: #8e8f74;
    float: right;
    font-size: 0.9em;
    padding: 2.4em 0 0;
}
.span-18 #return:hover, .span-18 #return:focus, .span-18 #return:active { color: #D0D2B7;}
#slideshowWrapper { padding: 2em 0 7em;}

/* ---------- Timeline Page ---------- */
#content .span-20 {
    float: none;
    margin: 0 auto;
    width: 792px;
}
#timeline {
    margin: 0 auto;
    width: 774px;
    height: 480px;
    position: relative;
    top: 7px;
}
#timelinePadding { padding: 2em 0 7em;}
#timelineWrapper {
    background: url(http://usarmy.vo.llnwd.net/e2/rv5_other/aviation/timeline/timeline_wrapper.png) no-repeat;
    height: 495px;
    width: 792px;
}
.span-20 #return {
    color: #8e8f74;
    float: right;
    font-size: 0.9em;
    padding: 2.4em 1em 0;
}
.span-20 #return:hover, .span-20 #return:focus, .span-20 #return:active { color: #D0D2B7;}
